# I do not know why this file is left in the <ROOT> after `gradle build` or `gradle check`
# and why `gradle clean` does not delete it.
# See https://discuss.elastic.co/t/leftovers-after-integtestrunner-in-root/152610
\.local*-integTestRunner-execution-times.log

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Gradle
.gradle
build
gradle-wrapper.jar
gradle-wrapper.properties

# Mac
.DS_Store
